<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td>
        <a href="<%= article_path(article) %>"> more </a>
      </td>
      <td>
        <a href="<%= edit_article_path(article) %>"> edit </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create new article", new_article_path %>
