<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<li>
  <%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete,
  turbo_confirm: "Are you sure?" } %>
</li>

<%= link_to "Articles", articles_path %> <%= link_to "edit", edit_article_path
%>
